<main class="main">
  <div class="list-wrapper">
    <app-button *ngIf="!showFileUpload" [title]="'Додати'" (clicked)="handleBtnAddClick()"></app-button>
    <app-button *ngIf="showFileUpload" [title]="'Назад'" (clicked)="handleBtnBackClick()"></app-button>
    <app-certificate-list
      [data]="parsedDocuments | certificatePipe"
      (clicked)="handleCertificateListItemClick($event)"
      [selectedId]="selectedCertificate?.parsedData?.serialNumber || ''"
      (delete)="handleDeleteParsedDocument($event)"
    ></app-certificate-list>
  </div>
  <div>
    <app-certificate-view *ngIf="showView" [certificate]="selectedCertificate"></app-certificate-view>
    <app-file-upload *ngIf="showFileUpload" (filesLoaded)="handleFilesLoaded($event)"></app-file-upload>
  </div>
</main>

<router-outlet></router-outlet>
